input, textarea {
    width: 100%;
    padding-right: 60px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 0;
    padding-left: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 14px;

    &.text-footertext {
        color: var(--footer-text);
    }
}

input {
    height: 40px;
}

.btn-default {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 45px;
    line-height: 1;
    min-width: 7.5em;
    text-align: center;
    border: 2px solid var(--color-primary);
    background-color: transparent;
    border-radius: 2px;
    color: var(--white);
    position: relative;
    z-index: 3;
    overflow: hidden;
    transition: all, 0.4s, linear, 0s;
    display: block;

    &.text-footertext {
        color: var(--footer-text);
    }

    &::before, &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0;
        height: 1000px;
        top: 50%;
        left: 50%;
        background: var(--color-primary);
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transition: all 0.2s linear 0s;
        overflow: hidden;
    }

    &:hover {
        &::after, &::before {
            width: 100%;
            opacity: 1;
        }
    }
}
