:root {
    --color: #a7a7a7;
    --color-primary: #e00000;
    --color-secondary: #a80b0b;
    --bg: #262626;
    --bg-secondary: #fff;
    --border-color: #ddd;
    --border-color: rgba(255, 255, 255, 0.1);
}

.dark-mode {
    --color: #a7a7a7;
    --bg: #262626;
    --white: #fff;
    --black: #000;
    --bg-secondary: #1b1b1b;
    --gray:#a7a7a7;
    --bg-lighter:#333;
    --footer-bg: #000915;
    --border-color: rgba(255, 255, 255, 0.1);
}

.light-mode {
    /* --color: #333; */

    /* --bg: #f7f7ff; */

    /* --white:#000; */

    /* --bg-lighter:#f5f5f5; */

    /* --gray:#696969; */

    /* --black:#fff; */

    /* --bg-secondary: #fff; */

    /* --footer-bg:#ded0bf; */

    /* --border-color: rgba(0, 0, 0, 0.1); */
    --color: #a7a7a7;
    --bg: #262626;
    --white: #fff;
    --black: #000;
    --bg-secondary: #1b1b1b;
    --gray:#a7a7a7;
    --bg-lighter:#333;
    --footer-bg: #000915;
    --border-color: rgba(255, 255, 255, 0.1);
}
