.post {
    &__image {
        position: relative;

        &:hover {
            .overlay {
                opacity: .6;
                transform: scale(1);
            }
        }
    }

    &__content {
        position: relative;
        margin: -37px 10px 0;
        z-index: 4;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-primary);
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out 0s;
}
